
<div class="dews">
    <div class="content grad-2">
      <h2>Drop out Early Warning System</h2>
      <h1>DEWS</h1>
      <p>AI to predict student dropout risks, track academic progression, and visualize student performance. Empowering educators with insights for early intervention and personalized support we ensure accurate predictions and ethical AI usage.</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <img src="assets/images/imagesDews/businesspres.png" alt="Your Image" class="w-full max-w-[965px]">
    </div>
    
    <app-cards></app-cards>
 
    <div class="flex justify-between items-center ml-8 mt-12">
      <div class="w-1/2 pr-8">
          <h1 class="text-3xl font-bold mb-4">AI for Education</h1>
          <p class="text-lg mb-4">Elevate your educational strategies with personalized advisory services. Our team of data scientists works alongside you, turning complex data into clear, actionable insights for improved student outcomes.</p>
      </div>
      <div class="w-1/2">
          <img src="assets/images/imagesDews/businessman-giving-presentation.png" alt="image3">
      </div>
  </div>
  
  
  </div>
  
